@import "../Vars.scss";


/*Main feature container*/

.main-featured-container {
    width: 100%;
    margin-bottom: 10px;
    padding: 50px 0;
    text-align: center;
    padding-bottom: 20px;
}

.main-featured__title {
    font-size: 2.4rem;
    line-height: 2.6rem;
    font-weight: 400;
}

.featured-cards-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    min-width: 320px;
    height: 480px;
    margin: 20px auto;

    overflow-y: visible;
    overflow-x: auto;
    /*add to x a scroll when overflow*/
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
}

.featured-cards-container .fake-card{
    padding: 20px;
}