@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap);

$theme-font:  'Roboto', sans-serif;
$just-white: #FFFFFF;
$soft-white: rgba(255, 255, 255, 0.95);
$soft-black: #4f4f4f;
$soft-gray: #969696;
$hard-gray: #777777;
$portal-purple: #3E4095;
$portal-blue: #00AFEF;
$portal-green: #00A859;